
<p>pipe-demo works!</p>

<div>
   <h3>{{collegeName}}</h3>

   <h3>{{collegeName | lowercase}}</h3>
   <h3>{{collegeName | uppercase}}</h3>

   <h3>{{collegeName | titlecase}}</h3>

   <h3>{{collegeName  | slice: 10:20}}</h3>

   <h3>{{98.34567 | number: '2.1'}}</h3>
   <h3>{{98.34567 | number: '2.4'}}</h3>
   <h3>{{98.3847563478 | number: '2.1-3'}}</h3>
   <h3>{{98.34567 | number: '2.4-5'}}</h3>
   <h3>{{65 | currency}}</h3>

   <h3>{{65 | currency: 'INR':'code'}}</h3>
   <h3>{{.47 | percent}}</h3>

</div>
